  <!-- </div> -->
  </div>
</div>

<div id="float-menu-container" class="w100  t_c">
    <ul>
        <a href="/">
            <li>首页</li>
        </a>
        <a href="/ImitateCount/index">
            <li>大数据</li>
        </a>
        <a href="/ImitateCall/index">
            <li>叫号机</li>
        </a>
        <a href="/ImitateRegist/index">
            <li>登记台</li>
        </a>
        <a href="/ImitateBox/index">
            <li>接种冰箱</li>
        </a>
        <a href="/ImitateFridge/index">
            <li>冷库冰箱</li>
        </a>
        <a href="/Index/manual">
            <li>操作说明</li>
      </a>
    </ul>
</div>


<script type="text/javascript" src="__STATIC__/module/index/js/footer.js"></script>

{:hook('hook_view_index')}

</body>
</html>
