<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>智慧接种</title>
    <meta name="keywords" content="智慧接种"/>
    <meta name="description" content="智慧接种" />

    <link href="__STATIC__/module/common/layui-v2.4.5/layui/css/layui.css" rel="stylesheet">
    <link href="__STATIC__/module/index/css/all.css" rel="stylesheet">
    <link href="__STATIC__/module/common/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <script type="text/javascript" src="__STATIC__/module/common/jquery/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="__STATIC__/module/common/layui-v2.4.5/layui/layui.js"></script>


</head>
<body>
<div id="biggest-container" style="position: fixed; top: 0;  bottom: 0; left: 0; right: 0; background: #f5f7fa;">
    <!-- <div id="imitate-container"> -->

    

    
    