<!-- <form action="{:url()}" method="post" class="form_single"> -->
    <div class="box">
        <div class="box-body">
            <div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        <label>账号</label>
                        <spa></span>
                        <input class="form-control" name="account" placeholder="" value="{$info['account']}" type="text" disabled>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>密码</label>
                        <spa></span>
                        <input class="form-control" name="password" placeholder="" value="{$info['password']}" type="text" disabled>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>省/市/区</label>
                        <spa></span>
                        <input class="form-control" name="" placeholder="" value="{$info.province_city_district}" type="text" disabled>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>联系电话</label>
                        <spa></span>
                        <input class="form-control" name="phone" placeholder="" value="{$info['phone']}" type="text" disabled>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>详细地址</label>
                        <spa></span>
                        <input class="form-control" name="address" placeholder="" value="{$info['address']}" type="text" disabled>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>接种点名称</label>
                        <spa></span>
                        <input class="form-control" name="name" placeholder="" value="{$info['name']}" type="text" disabled>
                    </div>
                </div>
            
                <div class="box-footer">
                    <input type="hidden" name="id" value="{$info['id']}"/>
                    <a class="btn" onclick="javascript:history.back(-1);return false;"><i class="fa fa-history"></i> 返 回</a>
                </div>
            </div>
        </div>
    </div>
<!-- </form> -->