<div id="content-container" class="my-content-container">

            <!-- 面包屑header -->
            <div id="content-container-top" class="wp99">
                <div class="big_box">
                    <div class="first_item">
                        <div class="item_icon">
                            <i class="iconfont icon-zhuyaorenyuan" style="font-size: 50px;"></i>
                        </div>
                        <div class="item_text">
                            <div class="small_text">今日已取号人数量</div>
                            <div class="big_text">{$todayNumber.takeTheNumber}人</div>
                        </div>
                    </div>
                    <div class="_item margin_right_15">
                        <div class="item_icon">
                            <i class="iconfont icon-bianji" style="font-size: 50px;"></i>
                        </div>
                        <div class="item_text">
                            <div class="small_text">今日登记队列数量</div>
                            <div class="big_text">{$todayNumber.registerNumber} 人</div>
                        </div>
                    </div>
                    <div class="_item margin_left_15">
                        <div class="item_icon">
                            <i class="iconfont icon-yiwancheng" style="font-size: 50px;"></i>
                        </div>
                        <div class="item_text">
                            <div class="small_text">今日接种队列数量</div>
                            <div class="big_text">{$todayNumber.injectNumber} 人</div>
                        </div>
                    </div>
                    <div class="_item margin_right_15">
                        <div class="item_icon">
                            <i class="iconfont icon-fangdajing" style="font-size: 50px;"></i>
                        </div>
                        <div class="item_text">
                            <div class="small_text">今日留观队列数量</div>
                            <div class="big_text">{$todayNumber.observationNumber} 人</div>
                        </div>
                    </div>
                    <div class="_item margin_left_15">
                        <div class="item_icon">
                            <i class="iconfont icon-chenggong" style="font-size: 50px;"></i>
                        </div>
                        <div class="item_text">
                            <div class="small_text">今日已完成接种人数</div>
                            <div class="big_text">{$todayNumber.completeNumber} 人</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    