<style>
    #index-panel{
        width: 900px; height: 760px;
        position: fixed; 
        top: 50%;
        left: 50%;
        margin: -380px 0 0 -450px;
        box-shadow: 0 5px 10px 0 rgba(0,0,0,.15);
    }
    .button-line div{
        width: 48%; height: 93%; margin: 1% 1%; border-radius: 5px; float: left;
        line-height: 232px; text-align: center;
    }
    .button-line h1{color: #fff;}
</style>
<div id="index-panel" class="layui-card" >

    <div class="button-line hp30 wp100 f_l">
        <a href="/Imitatecount/index">
            <div class="hp100  " style="background: #5f3dc4; width: 98%; line-height: 200px;">
                <h1>大数据模拟</h1>
            </div>
        </a>
        
        
    </div>

    <div class="button-line hp35 wp100 f_l">
        <a href="/Imitatecall/index">
            <div class="hp100 wp50 f_l" style="background: #40c057;">
                <h1>叫号机模拟</h1>
            </div>
        </a>
        <a href="/Imitateregist/index">
            <div class="hp100 wp50 f_l" style="background: #12b886;">
                <h1>登记台模拟</h1>
            </div>
        </a>
        
    </div>
    <div class="button-line hp35 wp100 f_l">
        <a href="/Imitatebox/index">
            <div class="hp100 wp50 f_l" style="background: #15aabf;">
                <h1>接种冰箱模拟</h1>
            </div>
        </a>
        <a href="/Imitatefridge/index">
            <div class="hp100 wp50 f_l" style="background: #228be6;">
                <h1>冷库冰箱模拟</h1>
            </div>
        </a>
    </div>

</div>


