<div class="box">
    
        <div class="box-header">
      
          <div class="row">
              <div class="col-sm-5">
                  <a class="btn" href="{:url('childs/addChilds')}"><i class="fa fa-plus"></i>新建儿童</a>
              </div>
              
              <div class="col-sm-7">
                  <div class="box-tools search-form pull-right">
                      <div class="input-group input-group-sm">
                          
                          <input type="text" name="search_data" style="width: 200px;" class="form-control pull-right" value="{:input('search_data')}" placeholder="请输入姓名或卡号">
      
                          <div class="input-group-btn">
                            <button type="button" id="search"  url="{:url('childsList')}" class="btn btn-info btn-flat"><i class="fa fa-search"></i></button>
                          </div>
      
                      </div>
                 </div>
              </div>
          </div>
          
        </div>
        <div class="box-body table-responsive">
          <table  class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>儿童</th>
                <th>卡号</th>
                <th>联系人</th>
                <th>联系电话</th>
                <th>操作</th>
            </tr>
            </thead>
            
            {notempty name='list'}
              <tbody>
                  {volist name='list' id='vo'}
                      <tr>
                        <td>{$vo.Name}</td>
                        <td>{$vo.CardNo}</td>
                        <td>{$vo.ParentName}</td>
                        <td>{$vo.Mobile}</td>
                        <td class="col-md-3 text-center">
                            <ob_link><a href="{:url('childs/getChildsInfo',array('Id'=>$vo['Id']))}" class="btn"><i class="fa fa-newspaper-o"></i>查看资料</a></ob_link>
                            <ob_link><a href="{:url('childs/editChildsInfo',array('Id'=>$vo['Id']))}" class="btn"><i class="fa fa-edit"></i>编辑</a></ob_link>
                            <ob_link><a href="{:url('childs/delChilds',array('Id'=>$vo['Id']))}" class="btn  confirm ajax-get"><i class="fa fa-edit"></i>删除</a></ob_link>
                        </td>
                      </tr>
                  {/volist}
              </tbody>
              {else/}
              <tbody><tr class="odd"><td colspan="8" class="text-center" valign="top">{:config('empty_list_describe')}</td></tr></tbody>
            {/notempty}
          </table>
        </div>
      
        <div class="box-footer clearfix text-center">
            {$list->render()}
        </div>
      
      </div>
